/* GERAL */
body {
    background-color: #000;
}

header {
    padding: 50px;
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.69) 0%,
        rgba(0, 0, 0, 0) 100%
    );
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 2;
}

header img {
    width: 150px;
}

/* HOME */
.nav_bar {
    list-style: none;
    padding-left: 0;
    padding-top: 7px;
}

.nav_bar li {
    display: inline-block;
    margin-left: 15px;
}

.nav_bar li a {
    color: #fff;
}

#cover{
    height: 700px;
    background-image: url(./assets/ww_sm_cb-cover.png);
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
    position: absolute;
    z-index: 1;
    top: 0;
}

#cover::after {
    content:  '';
    width: 100%;
    height: 350px;
    display: block;
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%, #000000 100%);
    position: absolute;
    left: 0;
    z-index: 2;
    top: calc(700px - 350px);
}

#cover_description {
    padding: 0;
    margin-top: 170px;
    z-index: 3;
    position: relative;
}

#cover_description h1 {
    margin-bottom: 20px;
}

#cover_description h1 img {
    width: 35px;
    margin-top: -10px;
    margin-right: 15px;
}

#lista-principal {
    margin-top: 700px;
}

#lista-filmes{
    overflow-x: scroll;
    list-style: none;
    white-space: nowrap;
    padding: 20px 0px;
    display: block;
    border: 1px solid transparent
}

.filme:first-child {
    margin-left: 70px;
}

/* #lista-filmes::-webkit-scrollbar {
    display: none;
}*/

.filme {
    display: inline-block;
    width: 250px;
    margin-right: 10px;
    border-radius: 3px;
    overflow: hidden;
    transition: 0.5s;
    overflow: auto;
    border: 1px solid transparent;
    overflow-y: hidden;
}

.filme:hover {
    cursor: pointer;
    transform: scale(1.2);
    z-index: 999;
    transition: 0.5s;
}

.filme:hover .filme-info {
    transform: scale(1);
    transition: 0.5s;
}

.filme-info {
    background-color: #171717;
    padding: 10px;
    height: 50px;
    width: 100%;
    transform: scale(0);
}

.filme-info .col-12{
    margin-top: 5px;
}

.filme-info .col-12:first-child {
    margin-top: 20px;
}

.filme-info p {
    color: #7E7B7B;
    font-size: 12px;
    
}

.filme-info p text {
    color: #fff;
}

section {
    margin-bottom: -100px;
    position: relative;
}

section:hover {
    z-index: 9;
}

/* PAINEL DE DETALHES */

.modal-dialog, .modal-content {
    background: #171717;
}

.modal-dialog {
    max-width: 600px;
}

/* para adicionar no script git getElement .style.background-image */
.painel-hero {
    height: 300px;
    background-image: url(./assets/ww_sm_cb-cover.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 40px;
    margin-bottom: 30px;
}

.painel-hero::after{
    content: '';
    width: 100%;
    height: 200px;
    display: block;
    background: linear-gradient(
        180deg,
        rgba(23, 23, 23, 0) 0%, #171717 100%);
    position: absolute;
    left: 0;
    margin-top: -25px;
}

.painel-hero h1{
    width: 250px;
    
    margin-top: 40px;
    position: relative;

}

.filme-descricao{
    font-size: 15px;
    color: #fff;
}

.filme-votos {
    font-size: 20px;
    color: #fff;
    
}